@font-face {
  font-family: Chomsky;
  src: url('./Chomsky.otf');
}

.phoneMockup{
  visibility: collapse;
  background-image: url('./teksturaGazety.webp');
  border: 3px solid black;
  border-radius: 5px;
  height: 200vh;
}

.loginForm{
  background-image: url('./teksturaGazety.webp');
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 100vh;
  border: 1px solid black;
  border-radius: 10px;
  font-family: Chomsky;
}

.loginForm > h2{
  text-align: center;
}
.loginForm > input[type=submit]{
  margin-top: 10%;
}

.loginForm > label,input{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 90%;
}


.photo{
  width: 80vw;
}

.onePerson{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 120vw;
}

p{
  color: white;
  font-size: 2vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.imageText{
  size: 100%;
}

.name{
  position: absolute;
  top: 5%;
}

.place{
  position: absolute;
  top: 30%;
}


