@font-face {
  font-family: Chomsky;
  src: url('../BadGuy.otf') format("opentype");
}

.phoneMockup{
  display: none;
  background-image: url('../paperTexture.jpg');
  background-repeat: round;
  border: 3px solid black;
  border-radius: 5px;
  height: 200vh;
}

.loginForm{
  background-image: url('../paperTexture.jpg');
  background-repeat: round;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  border: 3px solid black;
  border-radius: 10px;
  font-family: Chomsky;
}

.photo{
  margin-left: auto;
  margin-right: auto;
}

.loginForm > h2{
  text-align: center;
  font-size: 3em;
}

.loginForm > input[type=submit]{
  font-family: Chomsky;
  margin-top: 10%;
}

.loginForm>input[type=text],input[type=password]{
  background-color: #f2f3c0;
}

.loginForm > label,input{
  font-size: 2em;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 10px;
  width: 90%;
}

.photo{
  width: 80vw;
}

.onePerson{
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  position: relative;
}



p{
  color: white;
  font-size: 2vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.imageText{
  size: 100%;
}

.name{
  position: absolute;
  top: 5%;
  left: 10%;
}

.place{
  position: absolute;
  font-size: 1.7em;
  top: 20%;
  left: 10%;
}

.religion{
  position: absolute;
  top: 30%;
  left: 10%;
}

.relationship{
  position: absolute;
  top: 37%;
  left: 10%;
  font-size: 0.9em;
}

.description{
  text-align: center;
}

.photo{
  border-radius: 8px;
}

.sendMessage{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 33vw;
  background-color: #f2f3c0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.nameInButton{
  font-weight: bold;
}

.navList{
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5%;
}

.navList>li>input[type=button]{
  height: 100%;
  width: 100%;
}

.navList>li>input[type=button]:hover{
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

nav{
  margin-bottom: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.messageBox{
  display: none;
}